<div class="row">
    <div class="col l6 m10 s12 item card-panel waves-effect waves-light
        teal hoverable offset-l3 z-depth-2" style="padding:15px 25px">
        <span id="body{{ item.id }}" class="white-text" style="display:block;text-indent:2em;" >
            {{ item.body }}
        </span>
        <p style="margin:0px 5px; padding:0px 10px">
        <span class="THIN grey-text text-lighten-1">{{ item.timestamp.strftime('%m-%d %H:%M:%S') }}</span>
        <span class="right">
            <a href="#" class="red-text text-darken-1">
            <i class="material-icons" style="vertical-align: middle;padding:0px 0px 5px">thumb_up</i> 点赞
            </a>
        </span>
        </p>
    </div>
</div>