{% extends 'base.html' %}

{% block content %}
    <!--parallax 1 -->
    <div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='bg2.jpg') }}"></div>
    </div>

    <!-- 国内每日数据 -->
    <div class="container">
        <div class="section">
            <h2 class="center red-text text-lighten-2" style="margin:60px;">国内疫情数据</h2>
            <div class="row" style="margin:15px 25px;">
                <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center red-text text-darken-4" style="font-size: 25px; font-weight:500">累计确诊病例</h5>
                        <hr>
                        <p class="light center  red-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ confirmedCount_zh }}
                        </p>
                    </div>
                </div>

                <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center teal-text text-darken-4" style="font-size: 25px; font-weight:500">累计治愈病例</h5>
                        <hr>
                        <p class="light center teal-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ curedCount_zh }}
                        </p>
                    </div>
                </div>
                 <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center grey-text text-darken-4" style="font-size: 25px; font-weight:500">累计死亡人数</h5>
                        <hr>
                        <p class="light center grey-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ deadCount_zh }}
                        </p>
                    </div>
                 </div>
            </div>

            <div class="row" style="margin:15px 25px;">
                <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center red-text text-darken-4" style="font-size: 25px; font-weight:500">当日新增确诊病例</h5>
                        <hr>
                        <p class="light center  red-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ confirmedCountIncr_zh }}
                        </p>
                    </div>
                </div>

                 <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center teal-text text-darken-4" style="font-size: 25px; font-weight:500">当日新增治愈病例</h5>
                        <hr>
                        <p class="light center teal-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ curedCountIncr_zh }}
                        </p>
                 </div>
                 </div>
                 <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center grey-text text-darken-4" style="font-size: 25px; font-weight:500">当日新增死亡人数</h5>
                        <hr>
                        <p class="light center grey-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ deadCountIncr_zh}}
                        </p>
                    </div>
                 </div>

            </div>
        </div>
    </div>

    <!-- parallax 2 -->
    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ url_for('static', filename='bg1.jpg') }}"></div>
    </div>

    <!-- 国外每日数据 -->
     <div class="container">
        <div class="section">
            <h2 class="center red-text text-lighten-2" style="margin:60px;">
                国外疫情数据 <small style="font-size:15px;" > ( 累计值 ）</small>
            </h2>
            <div class="row" style="margin:50px 25px;">
                <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center red-text text-darken-4" style="font-size: 25px; font-weight:500">美国</h5>
                        <hr>
                        <p class="light center  red-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ confirmedCount_USA }}</p>
                    </div>
                </div>

                <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center teal-text text-darken-4" style="font-size: 25px; font-weight:500">意大利</h5>
                        <hr>
                        <p class="light center teal-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ confirmedCount_Italy }}
                        </p>
                    </div>
                </div>
                 <div class="col s12 m4 l4">
                    <div class="icon-block">
                        <h5 class="center grey-text text-darken-4" style="font-size: 25px; font-weight:500">英国</h5>
                        <hr>
                        <p class="light center grey-text text-darken-3" style="font-size: 35px; font-weight:900">
                            {{ confirmedCount_UK }}
                        </p>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- parallax 3 -->
    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ url_for('static', filename='bg3.jpg') }}"></div>
    </div>
{% endblock content %}