<!-- navbar -->
<nav class="teal">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo teal-text text-lighten-5">新型冠状病毒肺炎实时追踪</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="waves-effect waves-light btn red z-depth-2" style="padding:0px 10px">发送祝福</a> </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">祝福</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block content %} {% endblock content %}

<!-- footer -->
<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
             Made by <a class="brown-text text-lighten-3" href="#">Yeh George</a>
        </div>
    </div>
</footer>
