<!-- navbar -->
<nav class="teal  z-depth-1">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#intro" class="brand-logo teal-text text-lighten-5">
            新型冠状病毒肺炎实时追踪 <span style="margin:0px 10px;">{{ nCovToday}}</span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#bless" class="waves-effect waves-light btn red z-depth-2"
                   style="padding:0px 10px">
                    发送祝福
                </a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#blessing">祝福</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block content %} {% endblock content %}

<!-- footer -->
<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
             © 2020  Made by <a class="yellow-text text-lighten-5 MEDIUM" href="#">Yeh George </a>
             -<a href="#" class="red-text text-lighten-5 MEDIUM" > GitHub </a>
            <span class="white-text text-darken-1 right THIN"><small>数据来源于</small>
                <a class="red-text text-lighten-4"
                   href="https://github.com/BlankerL/DXY-COVID-19-Crawler" target="_blank">
                    GitHub: 2019新型冠状病毒疫情实时爬虫
                </a>
            </span>
        </div>
    </div>
</footer>
